body{
	background:url(../image/bodybg.png) repeat;
}
.top{
	border: 1px solid #000;
    color: #aeaeae;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: fixed;
    right: 0;
    text-shadow: 0 1px 0 #000;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0) url("../image/bg.jpg") repeat scroll 0 0;
}
.top .pic{
    position: absolute;
    left: 15px;
    top: 0px;  
}
.pic .picture{
    border: 1px solid #222;
    border-radius: 5px;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin: 6px 10px 0px 0px;
    line-height: 32px;
    text-align: center;
    background:url(../image/huser.png) no-repeat center center;
}
.pic a{
    color:#fff;margin:0 10px;
}
.left{
	position: fixed;
    z-index: 3;
    top: 42px;
    left: 0px;
    bottom: 0px;
    width: 240px;
	text-shadow: 0px 1px 0px #000;
	background-color: #494949;
	border-right: 1px solid #1B1B1B;
	box-shadow: -5px 0px 5px #404040 inset;
    overflow:auto;
}
.left>ul{}
.left>ul>li{}
.left>ul>li>a{
    height: 40px;
    line-height: 40px;
    text-indent: 30px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #bbb;
    text-shadow: 0px 1px #0D0D0D;
    background: #494949 url("../image/arrow.png") no-repeat scroll 96% -5px;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #606060;
}
.left>ul>li>a.first{
    background: #494949;
}
.left>ul>li>a:hover{
    color: #FFF;
    background-position: 96% -53px !important;
    background-color: #585858;
}
.left>ul>li>a img{
    vertical-align: text-bottom;
    padding-right: 4px;
    opacity: 0.49;
}
.left>ul>li>ul{
    display: none;
}
.left>ul>li>ul>li a{
    height: 28px;
    line-height: 28px;
    text-indent: 52px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    background: transparent url("../image/sideli.png") no-repeat scroll 37px 10px;
    color: #bbb;
    transition:color ease .5s;
}
.left>ul>li>ul>li a:hover{
    background-position: 37px -31px;
    color:#fff;
}
.left>ul>li>ul>li a.active{
    background-position: 37px -31px;
    color:#fff;
}
.left>ul>li>ul>li>ul{
    display: none;
}
.left>ul>li>ul>li>ul>li>a{
    text-indent: 82px;
    background: transparent url("../image/sideli.png") no-repeat scroll 67px 10px;
}
.left>ul>li>ul>li>ul>li>a.active{
    background-position: 67px -31px;
   color:#fff; 
}
.left>ul>li>ul>li>ul>li>a:hover{
    background-position: 67px -31px;
    color:#fff;
}
.right{
	margin: 58px 40px 0px 280px;
	color: #6D6D6D;
	font-size: 12px;
	box-shadow: 0px 5px 10px #AFAEAE;
    position: relative;
    background:#fff;
}
.right iframe{
	display: block;
	width:100%;
    min-height: 550px;
    border:0;
}
.right .righttop{
    width:100%;height:35px;
    position:absolute;
    top:0;
    z-index:999999;
    overflow: hidden;
    background: rgba(0, 0, 0, 0) url("../image/bg.jpg") repeat scroll 0 0;
}
.righttop .righttopinner{
    height:35px;position: absolute;background:red;
}
.right .rightbottom{
    width:100%;height:550px;position: relative;
}
.right .rightbottom .item{
    width:100%;height:550px;position: absolute;
    left:0;top:0;
}
.righttopbut{
    width:150px;height:35px;float:left;
    position: relative;
    background:#333;
    text-align: center;
    line-height: 35px;
    color:#fcfcfc;
    cursor: pointer;
    border-right:1px solid #666;
}
.righttopbut .rrrclosebtn{
    width:15px;height:15px;
    position: absolute;
    right:7px;top:12px;
    background:url(../image/close.png) no-repeat;
    cursor: pointer;
}
.butactive{
   background:#777; 
}
.righttopdir{
   width:40px;height:35px;position: absolute;
   right:0;top:0;
   background:#222; 
   z-index: 998;
   display: none;
}
.righttopdir .dirleft,.righttopdir .dirright{
    width:20px;height:35px;float:left;
    text-align: center;line-height: 35px;
    color:#ddd;
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
}





