<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/common/common.css">
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/table+.js"></script>
</head>
<body class="content-box">
      <div class="header">
      	 <div class="header-title">输入区域</div>
      	 <div class="header-content">
      	 	<label>
      	 		讲师<select name="" id="" class="select">
      	 				<option>王瑞</option>
      	 				<option>刘瑞</option>
      	 				<option>miss赵</option>
      	 			</select>
      	 	</label>
      	 	<label>
      	 		过滤<input type="button" class="input-button-guolv">
      	 	</label>
      	 	<label>
      	 		重置过滤<input type="button" class="input-button-resetguolv">
      	 	</label>
      	 	<label>
      	 	<!-- 添加数据按钮  需增加类名 add-table -->
      	 	    添加<input type="button" class="input-button-fileadd add-table" urls='http://127.0.0.1/add.jsp'>
      	 	</label>
      	 	
      	 	<label>
      	 	    导出<input type="button" class="input-button-update">
      	    </label>
      	 </div>
      </div>
      <div class="content">
      	<div class="header-title">表格</div>
      	<div class="header-content">
	      	 <!-- 表格部分 开始-->
	      	 <div class="table-content">
	      	 	<table class="table text-l">
		      	 	<!-- 表头部分 结束-->
		  	 		<tr class="table-header">
						<th class="table-number">&nbsp;</th>
						<th data-role="bh">编号</th>
						<th data-role="nd">姓名</th>
						<th data-role="kc">课程</th>
						<th>操作</th>
					</tr>
			      	 	
					<!-- 表头部分 结束-->
		      	 	<!-- 第1行 开始 -->	
					<tr>
						<td class="table-number">1</td> <!--编号-->
						<td>php-02-html</td>
						<td>刘瑞</td>
						<td>html&nbsp;css&nbsp;php</td>
						<td>
							<!--
								编辑功能 添加类名 edit
								查看功能 添加类名 view
								删除功能 添加类名 delete
							-->
							<input type="button" class="input-button-guolv small view">
							<input type="button" class="input-button-wirte small edit"  urls='http://127.0.0.1/edit.jsp'>
							<input type="button" class="input-button-fileremove small delete"  urls='http://127.0.0.1/delete.jsp'>
						</td>
					</tr>
					<!-- 第1行 结束 -->

					<!-- 第2行 开始 -->	
					<tr>
						<td class="table-number">2</td> <!--编号-->
						<td>php-02-html</td>
						<td>刘瑞</td>
						<td>html&nbsp;css&nbsp;php</td>
						<td>
							<!--
								编辑功能 添加类名 edit
								查看功能 添加类名 view
								删除功能 添加类名 delete
							-->
							<input type="button" class="input-button-guolv small view">
							<input type="button" class="input-button-wirte small edit"  urls='http://127.0.0.1/edit.jsp'>
							<input type="button" class="input-button-fileremove small delete"  urls='http://127.0.0.1/delete.jsp'>
						</td>
					</tr>
					<!-- 第2行 结束 -->
					<tr>
						<td class="table-number">3</td> <!--编号-->
						<td>php-02-html</td>
						<td>刘瑞</td>
						<td>html&nbsp;css&nbsp;php</td>
						<td>
							<!--
								编辑功能 添加类名 edit
								查看功能 添加类名 view
								删除功能 添加类名 delete
							-->
							<input type="button" class="input-button-guolv small view">
							<input type="button" class="input-button-wirte small edit"  urls='http://127.0.0.1/edit.jsp'>
							<input type="button" class="input-button-fileremove small delete"  urls='http://127.0.0.1/delete.jsp'>
						</td>
					</tr>

					<tr>
						<td class="table-number">4</td> <!--编号-->
						<td>php-02-html</td>
						<td>刘瑞</td>
						<td>html&nbsp;css&nbsp;php</td>
						<td>
							<!--
								编辑功能 添加类名 edit
								查看功能 添加类名 view
								删除功能 添加类名 delete
							-->
							<input type="button" class="input-button-guolv small view">
							<input type="button" class="input-button-wirte small edit"  urls='http://127.0.0.1/edit.jsp'>
							<input type="button" class="input-button-fileremove small delete"  urls='http://127.0.0.1/delete.jsp'>
						</td>
					</tr>

					<tr>
						<td class="table-number">5</td> <!--编号-->
						<td>php-02-html</td>
						<td>刘瑞</td>
						<td>html&nbsp;css&nbsp;php</td>
						<td>
							<!--
								编辑功能 添加类名 edit
								查看功能 添加类名 view
								删除功能 添加类名 delete
							-->
							<input type="button" class="input-button-guolv small view">
							<input type="button" class="input-button-wirte small edit"  urls='http://127.0.0.1/edit.jsp'>
							<input type="button" class="input-button-fileremove small delete"  urls='http://127.0.0.1/delete.jsp'>
						</td>
					</tr>
				</table>
	      	</div>
      		<!-- 表格部分 结束-->
			<!-- 翻页部分 开始-->
			<div class="table-footer">
				<div class="button-bottom">
					<select name="" id="" class="select">
						<option value="">10</option>
						<option value="">20</option>
						<option value="">30</option>
					</select>
					<input type="button" class="input-button-prev">
					<span class="di">第</span>
					<input type="text"class="input-text">
					<span class="di">页</span>
					<span class="di">共3页</span>
					<input type="button" class="input-button-next">
					<input type="button" class="input-button-refresh daxiao" value="">
				</div>
			</div>
			<!-- 翻页部分 结束-->
      	</div>
    </div> 
e


      <!-- 弹窗 页面-->
      <div class="alert-box header">
      	 <div class="header-title">弹出窗口</div>
      	 <div class="header-content">
      	 	<!--content 在此-->
      	 	<table class="tables text-l">
      	 	<!--内容 js读写-->
			</table>
      	 </div>
      	 <div class="alert-btn">
      	 	<!--
      	 		button 在此
      	 		urls ajax 提交后台地址
      	 	-->
      	 	<input type="button" class="input-button-yes" value="确定">
			<input type="button" class="input-button-no" value="取消">
	
      	 </div>	 
    	</div>
</body>
</html>