<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/bui/Common/common.css">
	 <script type="text/javascript" src="__PUBLIC__/bui/Common/assets/js/jquery-1.8.1.min.js"></script>
	<script src="__PUBLIC__/js/table12.js"></script>
	<style>
	.btn-group{
		width: 60px;
	    height: 30px;
	    font-weight: bold;
	    line-height: 30px;
	    border: 1px solid #50BFFC;
	    -moz-box-shadow: inset 2px 1px 5px #50BFFC;
	    -webkit-box-shadow: inset 2px 1px 5px #50BFFC;
	    -o-box-shadow: inset 2px 1px 5px #50BFFC;
	    box-shadow: inset 2px 1px 5px #50BFFC;
	    background: #5FBFF5;
	    border-radius: 3px;
	    color: #fff;
		width:80px;
	}
	</style>

</head>
<body class="content-box">
     
<!-- -----表格部分复制开始--------- -->
    <div class="content">
      	<div class="header-title">每日成绩</div>
      	<div class="header-content">
	      	 <!-- 表格部分 开始-->
	      	 <div class="table-content">
	      	 
 	      	<h3>项目组长：</h3> 
	      	 	<table class="table text-l" border=1 cellpadding=0 cellspacing=0>
		      	 	<!-- 表头部分 结束-->
		  	 		<tr class="table-header">
						<th data-role="bh">学生学号</th>
						<th data-role="nd">学生姓名</th>
						<th data-role="tm">试卷编号</th>
						<th data-role="zsd">评分</th>
						<th data-role = "zsd">操作</th>
						
					</tr>
			      	 	
					<!-- 表头部分 结束-->
		      	 	
		      	 	<tr>	
							
							<td></td>
							<td>苟彦飞</td>
								
							<td>619</td>

							<td id = '1'>4</td>
						  
							<td>
							<a href = '/tg_oa_b/Application/Admin/View/EvaluateScores/subShow.html'>
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>张强</td>
								
							<td></td>

							<td id = '2'></td>
						  
							<td>
							<a href ='/tg_oa_b/Application/Admin/View/EvaluateScores/subShow.html'>
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr>				
				</table>
				
				<h3>组员：</h3> 
	      	 	<table class="table text-l" border=1 cellpadding=0 cellspacing=0>
		      	 	<!-- 表头部分 结束-->
		  	 		<tr class="table-header">
						<th data-role="bh">学生学号</th>
						<th data-role="nd">学生姓名</th>
						<th data-role="tm">试卷编号</th>
						<th data-role="tm">组长</th>
						<th data-role="zsd">评分</th>
						<th data-role = "zsd">操作</th>
						
					</tr>
			      	 	
					<!-- 表头部分 结束-->
		      	 	
		      	 	<tr>	
							
							<td></td>
							<td>王僖栋</td>
								
							<td>619</td>
							<td>苟彦飞</td>
									
							<td id = 'a1'>7</td>
						  
							<td>
							<a href = '/tg_oa_b/Application/Admin/View/EvaluateScores/subShow.html'>
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>常江</td>
								
							<td></td>
							<td>苟彦飞</td>
									
							<td id = 'a2'></td>
						  
							<td>
							<a href ='/tg_oa_b/Application/Admin/View/EvaluateScores/subShow.html'>
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>夏柱良</td>
								
							<td></td>
							<td>苟彦飞</td>
									
							<td id = 'a3'></td>
						  
							<td>
							<a href = '/tg_oa_b/Application/Admin/View/EvaluateScores/subShow.html'>
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>刘永晨</td>
								
							<td></td>
							<td>苟彦飞</td>
									
							<td id = 'a4'></td>
						  
							<td>
							<a href = '/tg_oa_b/Application/Admin/View/EvaluateScores/subShow.html'>
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>朱岱</td>
								
							<td></td>
							<td>张强</td>
									
							<td id = 'a5'></td>
						  
							<td>
							<a href = "javascript:void(0);" onclick = "window.open('/tg_oa_b/index.php/Admin/EvaluateScores/subShow/id/6/vid/a5/tepid/','主观题','width=800px,height=600px,scrollbars=yes')">
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>闫旭峰</td>
								
							<td></td>
							<td>张强</td>
									
							<td id = 'a6'></td>
						  
							<td>
							<a href = "javascript:void(0);" onclick = "window.open('/tg_oa_b/index.php/Admin/EvaluateScores/subShow/id/8/vid/a6/tepid/','主观题','width=800px,height=600px,scrollbars=yes')">
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>李彬彬</td>
								
							<td></td>
							<td>张强</td>
									
							<td id = 'a7'></td>
						  
							<td>
							<a href = "javascript:void(0);" onclick = "window.open('/tg_oa_b/index.php/Admin/EvaluateScores/subShow/id/9/vid/a7/tepid/','主观题','width=800px,height=600px,scrollbars=yes')">
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>芦鹏程</td>
								
							<td></td>
							<td>张强</td>
									
							<td id = 'a8'></td>
						  
							<td>
							<a href = "javascript:void(0);" onclick = "window.open('/tg_oa_b/index.php/Admin/EvaluateScores/subShow/id/10/vid/a8/tepid/','主观题','width=800px,height=600px,scrollbars=yes')">
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr><tr>	
							
							<td></td>
							<td>成宏</td>
								
							<td></td>
							<td>张强</td>
									
							<td id = 'a9'></td>
						  
							<td>
							<a href = "javascript:void(0);" onclick = "window.open('/tg_oa_b/index.php/Admin/EvaluateScores/subShow/id/11/vid/a9/tepid/','主观题','width=800px,height=600px,scrollbars=yes')">
							   
								<input type = "submit" class = "btn-group"   value = "查看主观题"/>
								</a>
							</td>
							 
						</tr>
				</table>
				
      	</div>
    </div>
<!-- -----表格部分复制结束--------- -->
      </div>

	
</body>
</html>