<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/common/common.css">
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/table+.js"></script>
	<script type="text/javascript">
			function getStages(obj,firstLevelName,secondLevelName)
			{

				//清除第三代以后所有数据
				initHD(firstLevelName);
				$.ajax({
					type:"post",
					url:"__URL__/getSecondLevelResourses",
					data:"id="+obj.value+"&"+"firstLevelName="+firstLevelName+"&"+"secondLevelName="+secondLevelName,
					success:function(msg)
					{
						var len = msg.length;
						//$("#"+secondLevelName).empty();
						for(var i=0;i<len;i++)
							{
								
								var id = msg[i].id;
								var name = msg[i].name;
								
								$("#"+secondLevelName).append("<option value='"+id+"'>"+name+"</option>");
							}
					}
				});
			}
			function initHD(selfLevelName){  
				
				
				$("#course option").remove(":gt(0)");
				
				if( selfLevelName == "direction")
				{
					$("#stage option").remove(":gt(0)");
				}
				
				
			}
			function load(){
				var direction = $("#direction option:selected").val();
				var stage = $("#stage option:selected").val();
				var course = $("#course option:selected").val();
				var classs = $("#class option:selected").val();
				$.ajax({
					type:"post",
					url: "getSearch",
					data:"stageId="+stage+"&"+"courseId="+course+"&"+"classId="+classs,
					success: function(msg){
						var len = msg.length;
						var o=0;
						var str=0;
						for(var i=0;i < len;i++)
						{  
							var cname = msg[i].cname;
							var dname = msg[i].dname ; 
							var ename = msg[i].ename;
							var name = msg[i].name;
							var start = msg[i].start;
							var uname = msg[i].uname;
							var j=i+1;
							//$("#answer"+i).show()
							if(o==0){str+="<tr>";}
							str+="<td>"+"<input type='checkbox'/>"+"</td>"+"<td>"+j+"</td>"+"<td>"+cname+"</td>"+"<td>"+name+"</td>"+"<td>"+uname+"</td>"+"<td>"+dname+"</td>"+"<td>"+'<a>课程详情</a>'+"</td>"+"<td>"+ename+"</td>"+"<td>"+start+"</td>"+"<td>"+"<input type='button' class='input-button-guolv small view'>"+"</td>";
							o++;
							if(o==1){str+="</tr>";o=0;}
						} 
						 
						//console.log(name);
						if(str == 0){ 
							str = "暂无查询记录";
						}
						$(".ss").html(str);
					}
				});
			}	
		</script>
		
</head>
<body class="content-box">
      <div class="header">
      	 <div class="header-title">输入区域</div>
      	 <div class="header-content">
      	 	<label>
      	 		&nbsp;&nbsp;&nbsp;&nbsp;方向
      	 		<select id="direction" name="direId" class="select" onchange="getStages(this,'direction','stage')" >
      	 			<option value="{$vo.id}">请选择方向</option>
      	 			<volist name="direction" id="vo">
      	 			<option value="{$vo.id}">{$vo.name}</option>
      	 			</volist>
      	 		</select>
      	 	</label>
      	 	
      	 	 <label>
      	 		阶段<select id="stage" name="stageId" class="select" onchange="getStages(this,'stage','course')" >
 						<option value="0">请选择阶段</option>    
 					</select>
      	 	</label>
      	 	
      	 	</label>
      	 	 <label>
      	 		课程<select id="course" name="courseId" class="select"  >
 						<option value="0">请选择课程</option>    
 					</select>
      	 	</label>
      	    <label>
      	 			班级名
      	 		<select id="class" name="classId" class="select">
      	 			<option value="0">请选择班级</option>
      	 			<volist name="classs" id="vo">
      	 			<option value="{$vo.id}">{$vo.name}</option>
      	 			</volist>
      	 		</select>
      	 	<label>
      	 		过滤<input type="button" class="input-button-guolv" onclick="load()">
      	 	</label>
      	 	<label>
      	 		重置过滤<input type="button" class="input-button-resetguolv">
      	 	</label>
      	 	<br>
      	 	<label>
      	 	
      	 
      	 	
      	 </div>
      </div>
      <div class="content">
      	<div class="header-title">表格</div>
      	<div class="header-content">
	      	 <!-- 表格部分 开始-->
	      	 <div class="table-content">
	      	 	<table class="table text-l">
		      	 	<!-- 表头部分 结束-->
		  	 		<tr class="table-header">
						
						<th class="table-number">&nbsp;</th>
						<th data-role="id">编号</th>
						<th data-role="class_id">班级</th>
						<th data-role="stage_id">阶段</th>
						<th data-role="cou_id">课程</th>
						<th data-role="days_id">第几天</th>
						<th data-role="kcxq">课程详情</th>
						<th data-role="teacher_id">讲师</th>
						<th data-role="start">开班时间</th>
						<th>操作</th>
					</tr>
			      	<tbody class="ss"> 	
					<!-- 表头部分 结束-->
		      	 	<!-- 第1行 开始 -->	
						<volist name="list" id="vo">
						<tr>	
						<td><input type="checkbox"></td>	
						<td>{$i}</td>
						<td>{$vo.cname}</td>
						<td>{$vo.name}</td>
						<td>{$vo.uname}</td>
						<td>{$vo.dname}</td>
						
						<td><a href="">课程详情</a></a></td>
						<td>{$vo.ename}</td>
						<td>{$vo.start}</td>
						
						<td>
							<!--
								编辑功能 添加类名 edit
								查看功能 添加类名 view
								删除功能 添加类名 delete
							-->
							<input type="button" class="input-button-guolv small view">
						
						</td>
					</tr>		
					</volist>
					<!-- 第1行 结束 -->

				</tbody>	
				</table>
	      	</div>
      		<!-- 表格部分 结束-->
			<!-- 翻页部分 开始-->
			<div class="table-footer">
				<div class="button-bottom">
					<select name="" id="" class="select">
						<option value="">10</option>
						<option value="">20</option>
						<option value="">30</option>
					</select>
					<span id="pageStr">{$pagestr}</span>
				</div>
			</div>
			<!-- 翻页部分 结束-->
		</div>
	</div>

      		

      <!-- 弹窗 页面-->
      <div class="alert-box header">
      	 <div class="header-title">弹出窗口</div>
      	 <div class="header-content">
      	 	<!--content 在此-->
      	 	<table class="tables text-l">
      	 	<!--内容 js读写-->
			</table>
      	 </div>
      	 <div class="alert-btn">
      	 	<!--
      	 		button 在此
      	 		urls ajax 提交后台地址
      	 	-->
      	 	<input type="button" class="input-button-yes" value="确定">
			<input type="button" class="input-button-no" value="取消">
	
      	 </div>	 
    	</div>
</body>
</html>