<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/bui/Common/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/bui/Common/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/bui/Common/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
    <link href="__PUBLIC__/bui/Common/assets/css/prettify.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    	code {
	      padding: 0px 4px;
	      color: #d14;
	      background-color: #f7f7f9;
	      border: 1px solid #e1e1e8;
	    }
   </style>
</head>
<body>
  <div class="container">
    <form id="searchForm" class="form-horizontal" action="{:U('import')}" enctype="multipart/form-data" method="post">
      <div class="row">
        <div class="control-group span10">
	          <div class="controls">
	          	<input type="file" name="file" >
	          	<input type="submit" value="导入" />
	          	<a href="{:U('download')}" >下载模板</a>
	          </div>
	     </div>
    </form> 
  </div>
</body>
</html>