
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>欢迎页面</title>
	<link rel="stylesheet" href="__PUBLIC__/common/common.css">
	<link rel="stylesheet" href="__PUBLIC__/css/0-hy.css">
  <link href='__PUBLIC__/css/0-fullcalendar.css' rel='stylesheet' />
</head>
<body>
   <div class="contain">
   	   <h1 class="head">
   	   	 <img src="__PUBLIC__/image/logo-0.png" alt="">
   	   	 Intelligent OA office system
   	   </h1>
         <!-- head -->
   	   <div class="block left">
   	   	  <div class="title">
               Calendar
               <a href="javascript:;" class="toggle"></a>
          </div>
              <div class="content">
                  <div class="center">

                      <div id='calendar'></div>


                  <div class="mood">开始一天快乐的工作</div>
                  </div>
              </div>
   	   </div>
         <!-- end -->
   	   <div class="block right">
              <div class="title">
              Today
               <a href="javascript:;" class="toggle"></a>
              </div>
              <!-- title -->
               <div class="content">
                 <div class="todayL  left">
                  <div class="mask">未来几天天气情况</div>
                  <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=64" width="484" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>


                 </div>

                 <!-- 右边 -->
              </div>
         </div>
   	   <!-- end -->
   	   <div style="clear:both"></div>
         <div class="block blockF">
            <div class="title">
               Shortcut
               <a href="javascript:;" class="toggle"></a>
              </div>
            <div class="content">
               此处可添加内容
            </div>
         </div>
         <!-- 空白留作模板 -->
        <!--  <div class="blockF">
            <div class="title">
               Shortcut
               <a href="javascript:;" class="toggle"></a>
            </div>
            <div class="content">
               <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/page.png" alt="" >
                       Write an Article
                     </a>
                  <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/page.png" alt="" >
                      Update a photo
                  </a>
                  <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/font.png" alt="" >
                     Typography
                  </a>
                  <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/window.png" alt="" >
                      Table
                  </a>
                   <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/warning.png" alt="" >
                      Manage events
                  </a>
                   <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/posts.png" alt="" >
                      Manage events
                  </a>
                   <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/chart.png" alt="" >
                      Manage events
                  </a>
                   <a href="javascript:;" class="shortcut">
                      <img src="../image/0-hy/calendar.png" alt="" >
                      Calender
                  </a>
            </div>
        </div> -->
            <!-- content -->
        <!--blockF end -->
</body>
<script src="__PUBLIC__/js/jQuery.js"></script>
<script src='__PUBLIC__/js/0-hy/moment.min.js'></script>
<script src='__PUBLIC__/js/0-hy/fullcalendar.min.js'></script>
<script src='__PUBLIC__/js/0-hy/gcal.js'></script>
<script src="__PUBLIC__/js/0-hy/0-hy.js"></script>
<script src="__PUBLIC__/js/0-hy/calendar.js"></script>
</html>