<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>修改密码</title>
<!-- 此文件为了显示Demo样式，项目中不需要引入 -->
    <link href="__APP__Admin/View/bui/Common/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__APP__Admin/View/bui/Common/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__APP__Admin/View/bui/Common/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="__APP__Admin/View/bui/Common/assets/css/prettify.css" rel="stylesheet" type="text/css" />
  <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/dpl.css" rel="stylesheet">
  <link href="http://g.alicdn.com/bui/bui/1.1.21/css/bs3/bui.css" rel="stylesheet">
 
</head>
<body>
  <div class="demo-content">
 
    <form id="f" class="form-horizontal" action="__URL__/pass" method="post">
    	<input name="id" type="hidden" class="control-text" value="<?php echo session('loginedUser')['id']?>">
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">原密码：</label>
            <div class="controls">
              <input id="y"name="ypassword"  type="password" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">新密码：</label>
            <div class="controls">
              <input name="password" type="password" data-rules="{required:true}" class="input-normal control-text">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="control-group span8">
            <label class="control-label">重输一次：</label>
            <div class="controls">
              <input name="cpassword" data-rules="{required:true}" type="password" class="input-normal control-text">
            </div>
          </div>
        </div>
        <div class="row form-actions actions-bar">
            <div class="span13 offset3 ">
              <button type="submit" class="button button-primary">保存</button>
              <button type="reset" class="button">重置</button>
            </div>
        </div>
    </form>
</div> 
  <script type="text/javascript" src="__APP__Admin/View/bui/Common/assets/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="__APP__Admin/View/bui/Common/assets/js/bui-min.js"></script>
  <script type="text/javascript" src="__APP__Admin/View/bui/Common/assets/js/config-min.js"></script>
  
  <script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
  <script src="http://g.alicdn.com/bui/bui/1.1.21/config.js"></script>
 
<!-- script start --> 
    <script type="text/javascript">
       BUI.use('bui/calendar',function(Calendar){
          var datepicker = new Calendar.DatePicker({
            trigger:'.calendar',
            autoRender : true
          });
      });
       BUI.use('bui/form',function(Form){
    	      
    	      new Form.Form({
    	        srcNode : '#f'
    	      }).render();
    	      
    	  });  

       
       
     
   
    </script>
    <script type="text/javascript">
   
    
    
    </script>
<!-- script end -->
  
</body>
</html>
