<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../common/common.css">
	<script src="../js/jquery.js"></script>
	<script src="../js/table+.js"></script>
</head>
<body class="content-box">
     
<!-- -----表格部分复制开始--------- -->
    <div class="content">
      	<div class="header-title">每日成绩</div>
      	<div class="header-content">
	      	 <!-- 表格部分 开始-->
	      	 <div class="table-content">
	      	 	<table class="table text-l">
		      	 	<!-- 表头部分 结束-->
		  	 		<tr class="table-header">
						<th class="table-number">&nbsp;</th>
						<th data-role="bh">星期</th>
						<th data-role="nd">日期</th>
						<th data-role="tm">题目</th>
						<th data-role="ym">客观成绩</th>
						<th data-role="zs">主观成绩</th>
						<th data-role="zsd">总成绩</th>
					</tr>
			      	 	
					<!-- 表头部分 结束-->
		      	 	<!-- 第1行 开始 -->	
					<tr>
						<td class="table-number">1</td> <!--编号-->
						<td>1</td>
						<td>2016-1-11</td>
						<td>10</td>
						<td>50</td>
						<td>50</td>
						<td>100</td>
					</tr>
					<!-- 第1行 结束 -->
				</table>
					
      	</div>
    </div>
<!-- -----表格部分复制结束--------- -->
      <div class="content" style = "position:relative;top:-400px;">
      	<div class="header-title" >历史课程成绩</div>
		<div class="header-content">
			<div class="header">
				 <div class="header-content">
					<label>
						方向
						<select name="timu" class="select">
							<option value="">PHP</option>
							<option value="">HTML</option>
							<option value="">JAVA</option>	
						</select>
					</label>
					<label>
						阶段
						<select name="timu" class="select">
							<option value="">HTML标签</option>
							<option value="">选择题</option>
							<option value="">选择题</option>	
						</select>
					</label>
					<label>
						课程
						<select name="timu" class="select">
							<option value="">PHP</option>
							<option value="">选择题</option>
							<option value="">选择题</option>	
						</select>
					</label>
					<label>
						考试时间
						<select name="timu" class="select">
							<option value="">2016-01-21</option>
							<option value="">选择题</option>
							<option value="">选择题</option>	
						</select>
					</label><br>
					<!--<label>
						知识点
						<select name="timu" class="select">
							<option value="">选择题</option>
							<option value="">选择题</option>
							<option value="">选择题</option>	
						</select>
					</label>
					<label>
						题型
						<select name="timu" class="select">
							<option value="">选择题</option>
							<option value="">选择题</option>
							<option value="">选择题</option>	
						</select>
					</label>
					<label>
						难度
						<select name="timu" class="select">
							<option value="">选择题</option>
							<option value="">选择题</option>
							<option value="">选择题</option>	
						</select>
					</label>-->
					<label>
						<input type="button"  value="搜索" class="btn-group"> 
					</label>
				 </div>
			  </div>
		
		</div>
      </div>

	
	</div>
    <!-- 弹窗 页面-->
    <div class="alert-box header">
      	 <div class="header-title">弹出窗口</div>
      	 <div class="header-content">
      	 	<!--content 在此-->
      	 	<table class="tables text-l">
      	 	<!--内容 js读写-->
			</table>
      	 </div>
      	 <div class="alert-btn">
      	 	<!--
      	 		button 在此
      	 		urls ajax 提交后台地址
      	 	-->
      	 	<input type="button" class="input-button-yes" value="确定">
			<input type="button" class="input-button-no" value="取消">
	
      	 </div>	 
    </div>
	
	
</body>
</html>