<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../common/common.css">
	<script src="../js/jquery.js"></script>
	<script src="../js/table+.js"></script>
</head>
<body class="content-box">
     
<!-- -----表格部分复制开始--------- -->
    <div class="content">
      	<div class="header-title">每日评测</div>
      	<div class="header-content">
	      	 <input type = "button" value = "开始答题"/>
			不在考试时间内!		
      	</div>
    </div>
<!-- -----表格部分复制结束--------- -->
      



      <!-- 弹窗 页面-->
      <div class="alert-box header">
      	 <div class="header-title">弹出窗口</div>
      	 <div class="header-content">
      	 	<!--content 在此-->
      	 	<table class="tables text-l">
      	 	<!--内容 js读写-->
			</table>
      	 </div>
      	 <div class="alert-btn">
      	 	<!--
      	 		button 在此
      	 		urls ajax 提交后台地址
      	 	-->
      	 	<input type="button" class="input-button-yes" value="确定">
			<input type="button" class="input-button-no" value="取消">
	
      	 </div>	 
    	</div>
</body>
</html>