<html>
	<head>
		<title></title>
	</head>
	
	<body>
		<form action = "__URL__/objScores" method = "post">
			<input type = "hidden" name="tep_id" value = "2">
			<input type = "hidden" name = "student_id" value = "3">
			<h3>
				<input type="hidden" name = "tet_id[]" value = "10">
				下列哪些是PHP的配置文件?
	         </h3>
			<h5>
				A php.exe
				B php.ini	
				C php_mysql.dll	 
				D php_mysqli.dll
			</h5>
			<input type = "text" name = "answer[]">
			
			<h3>
				<input type = "hidden" name="tet_id[]" value = "9">
				下列哪个才是apache的配置文件?
			</h3>
			<h5>
				A php.ini	
				B httpd.conf	
				C apache.exe	
				D mysql.exe
			</h5>
			<input type = "text" name = "answer[]">
			
			<input type = "submit" value = "提交">
		</form>
	</body>
</html>