<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>每日测试</title>
       <link href="__PUBLIC__/bui/Common/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/bui/Common/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/bui/Common/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="__PUBLIC__/bui/Common/assets/css/prettify.css" rel="stylesheet" type="text/css" />
<style>
 input {
	 border-left: 0;
	 border-right: 0;
	 border-top: 0;
	 border-bottom: 1px solid #000000;
}
code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
</style>
<script language=JavaScript> 
window.onload= function(){
	
	maxtime = document.getElementById("tep_timelong").value * 60;
	if(maxtime==0){
		maxtime=1800;
	}
}  
//var maxtime = 1800 //一个小时，按秒计算，自己调整!   
function CountDown(){   
	if(maxtime>=0){   
	minutes = Math.floor(maxtime/60);   
	seconds = Math.floor(maxtime%60);   
	msg = "距离考试结束还有"+minutes+"分"+seconds+"秒";   
	document.all["timer"].innerHTML=msg;   
	--maxtime;   
	}   
	else{   
	clearInterval(timer);
	alert('时间到，请确认提交......');   
	setTimeout("document.form1.submit()",1000);  
	}   
}   
timer = setInterval("CountDown()",1000);  
 
</script>
</head>
<body>
<input type='hidden' id='tep_timelong' value="{$row['tep_timelong']}">
<div id="timer" style="color:red;position:fixed;left:700px;font-size:20px"></div>
<br>
     {$sjsm}<br>
	<form action="__URL__/add" method="post" name="form1">
	<input type='hidden' name='pager_id' value="{$row['id']}">
	<input type="hidden" name="student_id" value="{$student_id}"/>
	<input type="hidden" name="class_id" value="{$_SESSION['loginedUser']['class_id']}"/>
	<div class="container">
		<div class="detail-page">
			<h2>{$dxt}</h2>
			<volist name="single" id="vo">
				<div class="detail-section">  
					<div class="row detail-row">
						<div class="span24">
							{$i}<input type="hidden" name="tet_id[]" value="{$vo.title_id}">
							<input type="hidden" name="pager_title_id[]" value="{$vo.pager_title_id}">
					  		 .{$vo.tet_content} ({$vo.tet_score}分)<br>
					  		 {$dxda}：<input type="text" name="answer[]" value=""><br><br>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="detail-page">
			<h2>{$tkt}</h2><span style="color:green">{$tktsm}</span>
			<volist name="completion" id="vo">
				<div class="detail-section">  
					<div class="row detail-row">
						<div class="span24">
							{$i}<input type="hidden" name="tet_id[]" value="{$vo.title_id}">
							<input type="hidden" name="pager_title_id[]" value="{$vo.pager_title_id}">
					  		 .{$vo.tet_content} ({$vo.tet_score}分)<br>
					  		 {$tkda}：<input type="text" name="answer[]" value=""><br><br>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="detail-page">
			<h2>{$pdt}</h2><span style="color:green">{$pdtsm}</span>
			<volist name="check" id="vo">
				<div class="detail-section">  
					<div class="row detail-row">
						<div class="span24">
							{$i}<input type="hidden" name="tet_id[]" value="{$vo.title_id}">
							
							<input type="hidden" name="pager_title_id[]" value="{$vo.pager_title_id}">
					  		 .{$vo.tet_content} ({$vo.tet_score}分)<br>
					  		 {$pdda}：<input type="text" name="answer[]" value=""><br><br>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="detail-page">
			<h2>{$cxt}</h2>
			<volist name="process" id="vo">
				<div class="detail-section">  
					<div class="row detail-row">
						<div class="span24">
							{$i}<input type="hidden" name="tet_id[]" value="{$vo.title_id}">
							<input type="hidden" name="pager_title_id[]" value="{$vo.pager_title_id}">
					  		 .{$vo.tet_content} ({$vo.tet_score}分)<br>
					  		 <textarea name="answer[]" style="width:300px;height:80px";></textarea><br>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="detail-page">
			<h2>{$jdt}</h2>
			<volist name="jianda" id="vo">
				<div class="detail-section">  
					<div class="row detail-row">
						<div class="span24">
							{$i}<input type="hidden" name="tet_id[]" value="{$vo.title_id}">
							<input type="hidden" name="pager_title_id[]" value="{$vo.pager_title_id}">
					  		 .{$vo.tet_content} ({$vo.tet_score}分)<br>
					  		 {$dxda}：
					  		 <textarea name="answer[]" style="width:300px;height:80px";></textarea><br>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="detail-page">
			<h2>{$htt}</h2>
			<volist name="paint" id="vo">
				<div class="detail-section">  
					<div class="row detail-row">
						<div class="span24">
							{$i}<input type="hidden" name="tet_id[]" value="{$vo.title_id}">
							<input type="hidden" name="pager_title_id[]" value="{$vo.pager_title_id}">
					  		 .{$vo.tet_content} ({$vo.tet_score}分)<br>
					  		 {$htta}：<input type="text" name="answer[]" value=""><br><br>
						</div>
					</div>
				</div>
			</volist>
		</div>
	</div>
	<input type="submit" value="提交">
	</form>
	  <script type="text/javascript" src="__PUBLIC__/bui/Common/assets/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/bui/Common/assets/js/bui-min.js"></script>

  <script type="text/javascript" src="__PUBLIC__/bui/Common/assets/js/config-min.js"></script>
</body>

</html>