
.top{
   width: 60%;
   height: auto;
}
.content{
	width: 80%;
	height: 390px;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin: 10% auto 26%;
}
.box{
	width: 80%;
	height: 50px;
	margin: 0 auto 5%;
	border-radius: 5px;
}
.box a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
}
.spePower{
	width: 100%;
	height: 45px;
	border-radius: 5px 5px 0 0;
	background: rgba(255,255,255,0.8);
	text-align: center;
	line-height: 45px;
	margin-bottom: 8%;
}
.speList{
	height: 50px;
	line-height: 50px;
    
}

.tubiao{
	float: left;
	line-height: 40px;
	height: 100%;
	color: #FFFFFF;
	font-size: 1.2em!important;
}
input{
	float: left;
	width: 85%;
	height: 100%;
	font-size: 0.7em;
	
}
.mianfei{
	background: none;
	border: 1px dashed #FFFFFF;
}
.shiting{
	
	border: 1px dashed #FFFFFF;
}
.shiting a{
	color: #0d4e9e;
}
.jifeng{
	background:rgba(97,212,255,0.8);
	border: 1px solid #FFFFFF;
}
.jifeng a{
	color: #FFFFFF;
}
.speList a{
	font-size: 0.8em;
}
.kefu{
	background: #ffc300;
	text-align: center;
}
.kefu a{
	color: #031a6a;
	font-size: 0.9em;
}
.denglu{
	background:#ffc300;
	text-align: center;
}
.denglu a{
	color: #D30B04;
	font-size: 0.9em;
}
.speLess{
	height: 95px;
	background: rgba(255,255,255,0);
}
